/* font families */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@mixin montserratFont { 
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@mixin montserratFont700 {
    @include montserratFont;
    font-weight: 700;
}

@mixin montserratFont500 {
    @include montserratFont;
    font-weight: 500;
}

@mixin frauncesFont { 
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "SOFT" 0, "WONK" 0;
}

@mixin frauncesFont700 {
    @include frauncesFont;
    font-weight: 700;
}

/* Colours */

$Green: hsl(158, 36%, 37%);
$DarkGreen: hsl(158, 42%, 18%);
$Black: hsl(212, 21%, 14%);
$Grey: hsl(228, 12%, 48%);
$Cream: hsl(30, 38%, 92%);
$White: hsl(0, 0%, 100%);

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding & margin */
* {
    padding: 0;
    margin: 0;
    font-size: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label, small {
  line-height: 1.1;
  display: inline-block;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

main {
    background-color: $Cream;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;

    #product-cards-container {
        padding: 16px;
        max-width: 1440px;
        width: 100%;
        display: flex;
        justify-content: center;

        .product-card {
            background-color: $White;
            width: 100%;
            max-width: 600px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            border-radius: 10px;
            align-items: center;

            .product-card-image {
                display: flex;
                height: 100%;

                picture {
                    flex: 1;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        -o-object-fit: cover;
                        object-position: center;
                        -o-object-position: center;
                        border-radius: 10px 0 0 10px;
                    }
                }
            }

            .product-card-info {
                padding: 32px;

                .card-label {
                    @include montserratFont500;
                    color: $Grey;
                    text-transform: uppercase;
                    font-size: 12px;
                    line-height: 1.2;
                    letter-spacing: 5px;
                    display: inline-block;
                    margin-bottom: 21px;
                }

                .card-title {
                    @include frauncesFont700;
                    color: $Black;
                    font-size: 32px;
                    line-height: 1;
                    margin-bottom: 24px;
                }

                .card-desc {
                    @include montserratFont500;
                    font-size: 14px;
                    line-height: 1.64;
                    color: $Grey;
                    margin-bottom: 29px;
                }

                .card-price {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    margin-bottom: 28px;

                    .card-current-price {
                        @include frauncesFont700;
                        color: $Green;
                        font-size: 32px;
                        line-height: 1;
                        display: inline-block;
                    }

                    .card-old-price {
                        @include montserratFont500;
                        font-size: 12px;
                        color: $Grey;
                        margin-left: 20px;
                        letter-spacing: 0.5px;
                        text-decoration: line-through;
                        display: inline-block;
                        line-height: 1.5;
                    }

                    .card-old-price:empty {
                        display: none;
                    }
                }

                .card-add-to-cart-btn {
                    background-color: $Green;
                    width: 100%;
                    cursor: pointer;
                    transition: background-color 0.3s;
                    border: unset;
                    height: 48px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 8px;

                    span {
                        @include montserratFont500;
                        color: $White;
                        font-size: 14px;
                        line-height: 0.6;
                        display: flex;
                        align-items: center;
                        letter-spacing: 0.4px;
                        
                        &::before {
                            content: url('../assets/icon-cart.svg');
                            margin-right: 12px;
                        }
                    }

                    &:hover {
                        background-color: $DarkGreen;
                    }
                }
            }
        }

        @media only screen and (max-width: 632px) {
            .product-card {
                grid-template-columns: 1fr;
                grid-template-rows: auto auto;

                .product-card-image {
                    picture {
                        img {
                            max-width: 600px;
                            max-height: 420px;
                            border-radius: 10px 10px 0 10px;
                        }
                    }
                }

                .product-card-info {
                    padding: 24px;
                    
                    .card-label {
                        margin-bottom: 14px;
                    }
                    .card-title {
                        margin-bottom: 16px;
                    }
                    .card-desc {
                        white-space: break-spaces;
                        margin-bottom: 24px;
                    }
                    .card-price {
                        margin-bottom: 18px;
                    }
                }
            }
        }
    }
}